dist/
stable/build/
stable/dist/
stable/gen/
src/build/
src/dist/
src/gen/
src/tags
local.properties
.*.swp
*~
src/doc/

applications/quickcheck/*.dot
applications/quickcheck/*.java

*.class
applications/quickcheck/build
applications/quickcheck/gen
System.tom
