<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.mapping.tom/dsl/TomMapping" 
       class = "tom.mapping.dsl.tomMapping.TomMappingPackage"
       genModel = "tom/mapping/dsl/TomMapping.genmodel" /> 
	
  </extension>




</plugin>